@import url("https://fonts.googleapis.com/css?family=Rubik+Mono+One");

.first {
  background: url("../../multimedia/landingbackground.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-family: "Rubik Mono One", cursive;
  font-size: 200%;
  color: #ffa515;
}

.button {
  height: 50px;
  width: 180px;
  font-family: "Rubik Mono One";
  color: #ffffff;
  font-size: 130%;
  border-radius: 30px;
  background: #ffa515dc;
}
.button:hover {
  color: #ffa515;
  background: #ffffffc7;
}
